<!DOCTYPE HTML>

<html>
	<head>
    <meta charset = "utf-8"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=font.html />
		<title>EasterEgg</title>
    <script src="https://kit.fontawesome.com/ebbecbd361.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/easter_egg5.css" />
  </head>
  <body>
    <i class="fas fa-tshirt fa-2x"></i>
    <div class="head5">
     <h1>Do you know?<h1>
    </div>
    </br></br>
    <div class="sub-head">
     <p1>There are <span style="color:BlueViolet">pros and cons</span> of school uniform!</p1>
    </div>
    </br></br>
    <div class="point1">
     <p2>Pro 1:</p2>
    </div>
    </br>
    <div class="content1">
     <p3>School uniform can <mark> break the class barriers </mark> between students</p3>
    </div>
    </br></br>
    <div class="point2">
     <p4>Pro 2:</p4>
    </div>
    </br>
    <div class="content2">
     <p5>School uniform can <mark> increse student focus</mark></p5>
    </div>
    </br></br>
    <div class="point3">
     <p6>Pro 3:</p5>
    </div>
    </br>
    <div class="content3">
     <p7>School uniform can increase the sense of <mark>community</mark> in the school</p7>
    </div>
    </br>
    </br></br></br>
    <div class="point4">
     <p8>Con 1:</p8>
    </div>
    </br>
    <div class="content4">
     <p9>School uniform can be <mark1>expansive</mark1></p9>
    </div>
    </br></br>
    <div class="point5">
     <p10>Con 2:</p10>
    </div>
    </br>
    <div class="content5">
     <p11>School uniform <mark1>limits students' self-expression</mark1></p11>
    </div>
    </br></br>
    <div class="point6">
     <p12>Con 3:</p12>
    </div>
    </br>
    <div class="content6">
     <p13>School unform leads <mark1> more policing <mark1
     > of students</p13>
    </div>
    </br></br></br></br>
    <div class="final">
     <p14>How do you feel about it?</p14>
    </div>
    <form action="{{ url_for('easter_egg') }}" method ='post'>
      </br></br>
      <div class="button">
       <input type="submit" name="submit" value="Go Back"/>
      </div>
    </form>
  </body>
</html>